language: swift
os: osx
osx_image: xcode9.3
xcode_project: PokemonKit.xcodeproj
xcode_scheme: PokemonKit-macOS
cache:
  directories:
   - Carthage
before_install:
- brew update
- brew outdated carthage || brew upgrade carthage
- carthage bootstrap --verbose --no-use-binaries --platform mac --cache-builds
script:
- xcodebuild clean test -project PokemonKit.xcodeproj -scheme PokemonKit-macOS -destination "platform=macOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet
